{
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/transform-runtime",
    "import-graphql",
    "source-map-support"
  ],
  "presets": ["@babel/preset-env"]
}
